.Complainstable {
    padding: 20px;

  }
  
  .Complainstable input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    width: 200px;
    
  }
  
  .Complainstable .pdfButton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px; /* Add space between buttons */
  }
  
  .Complainstable .pdfButton:last-child {
    margin-right: 0; /* Remove margin from last button */
  }
  
  .Complainstable .pdfButton:hover {
    background-color: #2e6931;
    cursor: pointer;
  }
  
  .Complainstable .pdfButton:active {
    background-color: #3e8e41;
  }
  
  /* .Complainstable .updateButton {
    background-color: #2196F3;
  }
  
  .Complainstable .deleteButton {
    background-color: #f44336;
  } */
  
  .Complainstable .buttonContainer {
    display: flex;
    align-items: center;
  }
  
  .Complainstable .buttonContainer button {
    margin-right: 10px;
  }
  
  .Complainstable .buttonContainer button:last-child {
    margin-right: 0;
  }
  
  .Complainstable .MuiTable-root {
    width: 100%;
  }
  
  .Complainstable .MuiTableHead-root {
    background-color: #f2f2f2;
  }
  
  .Complainstable .MuiTableCell-head {
    font-weight: bold;
  }
  
  .Complainstable .imge {
    display:inline;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .Complainstable .imge img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    margin-right: 10px; /* Add more space between images */
  }
  
  .Complainstable .MuiTableRow-root:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .Complainstable .MuiTableCell-root {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd; /* Add column lines */
  }
  
  .Complainstable .MuiTableRow-root:hover {
    background-color: #e0e0e0;
  }
  
  /* Adjust the width of the First Name and Address columns */
  .Complainstable .fname-column,
  .Complainstable .address-column,
  .Complainstable .lname-column,
  .Complainstable .email-column,
  .Complainstable .yaddress-column,
  .Complainstable .cdesc-column,
  .Complainstable .area-column
  {
   /* max-width: 100px; /* Adjust the value as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap: break-word;
  }
  
  


  .Complainstable .MuiTable-root {
    width: 100%;
    border-collapse: collapse; /* Collapse table borders */
  }
  
  .Complainstable .MuiTableHead-root {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd; /* Add bottom border */
  }
  
  .Complainstable .MuiTableCell-head {
    font-weight: bold;
    border-right: 1px solid #ddd; /* Add right border */
    padding: 10px;
  }
  
  .Complainstable .MuiTableCell-root {
    text-align: left;
    padding: 10px;
    border-right: 1px solid #ddd; /* Add right border */
  }