.VaccineAppTab{
    width :60%;
    background-color:rgb(225,217,241);
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
    border-radius: 5px;
    margin: 50px auto;
    padding: 50px;
}

.VaccineAppTab table{
    width :100%;
    margin-top: 30px;
    border-collapse: collapse;

}
.VaccineAppTab th {
    border: 1px solid #000; /* Add border around table headers */
    padding: 10px; /* Add padding to table headers */
  }

  .VaccineAppTab td {
    border: 1px solid #000; /* Add border around table cells */
    padding: 10px; /* Add padding to table cells */
  }
.VaccineAppTab table thead th{
    background-color: darkblue;
    color: white;
    padding: 10px;

}

.VaccineAppTab table tbody td{
    padding: 10px;
    text-align: center;
}

.actionButtons button{
    border: 0;
    outline: none;
    background-color: green;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.pdfButton {
    outline: none;
    background-color: rgb(32, 11, 84);
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.deleteButtons button{
    border: 0;
    outline: none;
    background-color: red;
    padding: 8px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.generate{
    border: 0;
    outline: none;
    background-color: rgb(29, 84, 129);
    padding: 8px 10px ;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}
.AppDescription{
    text-align: left; /* or 'left' if you prefer */
    margin-top: 20px; /* Adjust the margin as needed */
    margin-bottom: 20px; /* Adjust the margin as needed */
}